.site-layout .site-layout-background {
    background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.image {
    margin: 0 0 0 60px;
    display: flex;
    align-items: center;
}
  
.ant-page-header-rtl .image {
    margin: 0 60px 0 0;
}

.example-link {
    line-height: 24px;
    margin-right: 16px;
}

[data-theme='compact'] .example-link {
    line-height: 20px;
}

.example-link-icon {
    margin-right: 8px;
}

[data-theme='compact'] .example-link-icon {
    width: 20px;
    height: 20px;
}

.ant-page-header-rtl .example-link {
    float: right;
    margin-right: 0;
    margin-left: 16px;
}

.ant-page-header-rtl .example-link-icon {
    margin-right: 0;
    margin-left: 8px;
}

@media (max-width: 768px) {
    .image {
        flex: 100%;
        margin: 24px 0 0;
    }
}